<h1>Editing Alert</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <%= form_tag alert_path, :method => :put, :id => @alert.id do %>
        <div class="row">
          <label class="col-md-2" for="app_name"> Application Name </label>
          <%= text_field '', 'app_name', :value => @alert.app_name %>
        </div>

        <div class="row">
          <label class="col-md-2" for="log_level"> Log Level </label>
          <%= select '', 'log_level', [['Error', 'error'], ['Debug', 'debug'],
                                       ['Fatal', 'fatal'], ['Info', 'info'],
                                       ['Trace', 'trace'], ['Warn', 'warn']],
                     :selected => @alert.log_level %>
        </div>

        <div class="row">
          <label class="col-md-2" for="duration"> Duration </label>
          <%= text_field '', 'hour', :type => "number", :min => 0, :value => @hour %> Hour(s)

          <%= text_field '', 'minute', :type => "number", :min => 0, :value => @minute %> Minute(s)

          <%= text_field '', 'second', :type => "number", :min => 0, :value => @second %> Second(s)
        </div>

        <div class="row">
          <label class="col-md-2" for="limit"> Limit </label>
          <%= text_field '', 'limit', :value => @alert.limit %>
        </div>
        </div>

        <div class="col">
          <div class="row">
            <label class="col-md-2" for="callback"> Callback </label>

            <div class="col-md-10">
              <div class="row">
                <%= select '', 'callback', [['Email', 'email'],
                                            ['Slack', 'slack']], include_blank: true,
                           :selected => JSON.parse(@alert.callback)["type"] %>

                <% if JSON.parse(@alert.callback)["type"] == "email" %>
                  <%= content_tag :div, :class => "col-12 col-md-8" do %>
                    <span id="add_email_receiver" class="glyphicon glyphicon-plus" style="display: block; color:green "></span>
                    <span id="add_slack_webhook" class="glyphicon glyphicon-plus" style="display: none;color:green "> </span>
                  <% end %>
                <% elsif JSON.parse(@alert.callback)["type"] == "slack" %>
                  <%= content_tag :div, :class => "col-12 col-md-8" do %>
                    <span id="add_email_receiver" class="glyphicon glyphicon-plus" style="display: none"></span>
                    <span id="add_slack_webhook" class="glyphicon glyphicon-plus" style="display: block"> Add Webhook</span>
                  <% end %>
                <% end %>
              </div>
            </div>

            <div id="callback_form">
              <% JSON.parse(@alert.callback)["receivers"].each_with_index do |item, idx| %>
                <%= content_tag :div, :id => "inputGroup" + idx.to_s do %>
                  <%= content_tag :div, :class => "col-12 col-md-8" do %>
                    <%= text_field '', 'receiver[]', :value => item %>
                  <% end %>
                  <%= content_tag :div, :class => "col-6 col-md-4" do %>
                    <%= content_tag :span, 'Delete', :class => "btn btn-danger", :onclick => "deleteReceiver(\"inputGroup#{idx.to_s}\")" %>
                  <% end %>
                <% end %>
              <% end %>
            </div>

          </div>
          <%= submit_tag 'Update' %>
      <% end -%>
      </div>
      </div>
</div>
<%= link_to 'Show', @alert %> |
<%= link_to 'Back', alerts_path %>
