<p id="notice"><%= notice %></p>

<h1>Alerts</h1>

<%= link_to 'New Alert', new_alert_path %>

<br>

<table border="1">
  <thead>
    <tr>
      <th>Application Name</th>
      <th>Log Level</th>
      <th>Duration</th>
      <th>Limit</th>
      <th colspan="2">Callback</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @alerts.each do |alert| %>
      <tr>
        <td><%= alert.app_name %> </td>
        <td><%= alert.log_level %> </td>
        <td><%= alert.duration %> </td>
        <td><%= alert.limit %> </td>
        <td><%= JSON.parse(alert.callback)["type"] %> </td>
        <td><%  JSON.parse(alert.callback)["receivers"].each do |item|%> <li> <%= item %> </li>  <% end %> </td>
        <td><%= link_to 'Show', alert %></td>
        <td><%= link_to 'Edit', edit_alert_path(alert) %></td>
        <td><%= link_to 'Destroy', alert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


