<p id="notice"><%= notice %></p>

<h1>Alerts</h1>

<%= link_to new_alert_path do %>
  <button class="btn btn-success " aria-label="vote up">
    <span class="glyphicon glyphicon-plus"></span> New Alert
  </button>
<% end %>

<table class="table">
    <thead class="thead-dark text-center">
    <tr>
      <th class="align-middle" >Application Name</th>
      <th class="align-middle" >Log Level</th>
      <th class="align-middle" >Duration</th>
      <th class="align-middle" >Limit</th>
      <th class="align-middle" colspan="2">Callback</th>
      <th class="align-middle" colspan="2">Action</th>
    </tr>
    </thead>
  <tbody>
  <% @alerts.each do |alert| %>
    <tr>
      <td class="align-middle"><%= alert.app_name %> </td>
      <td class="align-middle"><%= alert.log_level %> </td>
      <td class="align-middle"><%= alert.duration %> </td>
      <td class="align-middle"><%= alert.limit %> </td>
      <td class="align-middle"><%= JSON.parse(alert.callback)["type"] %> </td>
      <td class="align-middle" >
        <% JSON.parse(alert.callback)["receivers"].each do |item| %>
          <ul>
            <li class="text-truncate"> <%= item %> </li>
          </ul>
        <% end %> </td>

      <td class="align-middle" >
        <%#= link_to 'Edit', edit_alert_path(alert) %>
        <%= link_to edit_alert_path(alert) do %>
          <button class="btn btn-primary" aria-label="vote up">
            <span class="glyphicon glyphicon-pencil"></span> Edit
          </button>
        <% end %>
      </td>

      <td class="align-middle" >
        <%= link_to alert, method: :delete, data: {confirm: 'Are you sure?'} do %>
          <button class="btn btn-danger" aria-label="vote up">
            <span class="glyphicon glyphicon-trash"></span> Destroy
          </button>
        <% end %>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>


