<h1>New Alert</h1>

<%= form_tag :action => 'create' do %>
  <label for="app_name"> Application Name </label>
  <%= text_field '', 'app_name' %>

  <label for="log_level"> Log Level </label>
  <%= select '', 'log_level', [['Error', 'error'], ['Debug', 'debug'],
                               ['Fatal', 'fatal'], ['Info', 'info'],
                               ['Trace', 'trace'], ['Warn', 'warn']] %>

  <label for="duration"> Duration </label>
  <%= text_field '', 'duration' %>

  <label for="limit"> Limit </label>
  <%= text_field '', 'limit' %>

  <label for="callback"> Callback </label>
  <%= select '', 'callback', [['Email', 'email'],
                                   ['Slack', 'slack']], include_blank: true %>

  <div id="add_email_receiver" style="display: none"> Add Receiver</div>
  <div id="add_slack_webhook" style="display: none"> Add Webhook</div>
  <div id="callback_form"></div>

  <%= submit_tag 'Create' %>

<% end -%>
<%= link_to 'Back', alerts_path %>
